<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      margin-bottom: 50px;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }

    #tabla_vehicles td:nth-child(1){
      display: none;
    }

    #tabla_species td:nth-child(1){
      display: none;
    }

    #tabla_starships td:nth-child(1){
      display: none;
    }

    #tabla_characters td:nth-child(1){
      display: none;
    }

    
  </style>
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <div class="container" id="resultado_busqueda">

  </div>
  <h1 id='name_info'></h1>

  <h1 id="url_tag" visibility: hidden><%= url %></h1>


  <h1 id="title"></h1>
  <table id="tabla_info">

  </table>

  <h1>Characters</h1>

  <table id="tabla_characters">

  </table>

  <h1>Starships</h1>
  <table id="tabla_starships">

  </table>

  <h1>Vehiculos</h1>
  <table id="tabla_vehicles">

  </table>

  <h1>Especies</h1>

  <table id="tabla_species">

  </table>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <script type="text/javascript" src="../js/info_film.js"></script>
</body>
</html>
